@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UntitledSansLight';
  src: url('../fonts/TestUntitledSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  @apply font-pretendard;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.section-heading {
  @apply text-[18px] font-bold leading-[27px] tracking-[-0.36px];
}

@layer components {
  .form-section-heading {
    @apply font-bold web:text-[18px] mobile:text-[14px];
  }
  .form-label {
    @apply font-bold text-[14px];
  }
  .form-count {
    @apply text-[11px] text-[#ABAFB5];
  }
  .form-field-border-bttom {
    @apply border-b border-b-[#E5E6E8];
  }
}

@layer utilities {
  .bg-cover-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 34.9%, rgba(0, 0, 0, 0) 96.19%);
  }
}
