@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-black-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-bold-italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/test-untitled-sans-regular-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

html {
  @apply font-pretendard;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.section-heading {
  @apply text-[18px] font-bold leading-[27px] tracking-[-0.36px];
}

@layer components {
  .form-section-heading {
    @apply font-bold web:text-[18px] mobile:text-[14px];
  }
  .form-label {
    @apply font-bold text-[14px];
  }
  .form-count {
    @apply text-[11px] text-[#ABAFB5];
  }
  .form-field-border-bttom {
    @apply border-b border-b-[#E5E6E8];
  }
}

@layer utilities {
  .bg-cover-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 34.9%, rgba(0, 0, 0, 0) 96.19%);
  }
  .card-id-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.97%, rgba(0, 0, 0, 0.7) 94.58%);
  }
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #e5e6e8;
  border-radius: 5px;
}

.scroll-container {
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  padding-right: 4px; /* 콘텐츠와 스크롤바 사이의 간격 추가 */
}
