@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled/test-untitled-sans-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled/test-untitled-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled/test-untitled-sans-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled/test-untitled-sans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/untitled/test-untitled-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  @apply font-pretendard;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .bg-cover-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 34.9%, rgba(0, 0, 0, 0) 96.19%);
  }
  .card-id-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.97%, rgba(0, 0, 0, 0.7) 94.58%);
  }
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #e5e6e8;
  border-radius: 5px;
}

.scroll-container {
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  padding-right: 4px; /* 콘텐츠와 스크롤바 사이의 간격 추가 */
}

/* 공지사항 상세페이지 마스킹 슬라이드 애니메이션 */
.mask-slide {
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
  mask-image: linear-gradient(to right, black 50%, transparent 100%);
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 100% 0%;
  mask-position: 100% 0%;
}
